body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  height: 570px;
  background: url(image/banner.jpg) no-repeat center/cover;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 990px;
}
.container-menu {
  display: flex;
  justify-content: space-between;
}
.logo h1 {
  margin: auto;
  color: #FFFFFF;
  font-size: 40px;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
nav a:hover {
  border-bottom: 1px solid #FFFFFF;
}
.app {
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: #FFFFFF;
  color: #000000;
}
.app:hover {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  color: #FFFFFF;
}

.description {
  margin-top: 130px;
  margin-left: 120px;
  color: #FFFFFF;
}
.description h1 {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
}
.description h6 {
  margin: 0;
  font-size: 11px;
}

section {
  height: 300px;
}
.notcolumn {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: auto;
}
.notcolumn img {
  width: 250px;
}
.container-content {
  width: 400px;
}
.container-content h1 {
  font-size: 38px;
  margin: 0;
  color: #000000;
}
.container-content h2 {
  font-size: 17px;
  margin: 0;
  margin-top: 10px;
  color: #888888;
}
.container-content p {
  font-size: 12px;
  margin: 0;
  margin-top: 20px;
  color: #888888;
}


/* Menu Mobile */
.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.mm_line {
  height: 3px;
  background-color: #FFFFFF;
}

/* Responsividade com máximo 750px */

@media (max-width:750px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    background-color: #0174DF;
    border-radius: 25px;
    align-items: center;
    width: 100%;
  }
  header {
    height: auto;
  }
  .logo {
    margin-left: 20px;
  }
  .description {
    margin-left: 20px;
    margin-bottom: 130px;
  }
  .container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .notcolumn {
    display: flex;
    flex-direction: column;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
  }
}